@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'mundial';
    src: url(../fonts/MundialRegular.otf);
}
@font-face {
    font-family: 'm-light';
    src: url(../fonts/MundialThin.otf);
}

:root{
    --huge: 6.5rem;
    --x-large: 4rem;
    --large: 2.5rem;
    --medium: 2rem;
    --small: 1.5rem;
    --x-small: 1.1rem;
    --tiny: 0.8rem;
}
body{
    margin: 0;
    padding: 0;
    /*font-family: "Poppins", sans-serif;*/
    font-family: "Poppins", sans-serif;
    background-color: #0f0617;
    color: #ffff;
    /*background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;*/background-size: 400% 400%;
    overflow-x: hidden;
}

img{
    /*width: 50px;
    height: 50px;*/
}

header{
    
    /*box-shadow: 0px 3px 3px #999898;*/
}
.logo{
    font-size: 30px;
}

header article{
    margin: 0 5em;
    /*width: 25%;*/
    
}
header article.right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header article.right-side section{
    margin-right: 1em;
    
}
header a{
    text-decoration: none;
    color: #fff;

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header nav article.redirection a{
    text-decoration: none;
    font-weight: 500;
    margin: 0 1em;
}
header nav svg{
    width: 35px;
    height: 35px;
}
/* Dropdown menu*/
ul.first-ul li{
    display : inline-block;
    position: relative;
}
ul.menu li a{
    font-weight: 500;
    color: black;
}
ul.menu, ul.menu li {
    margin: 0;
    padding: 0;
    list-style: none; /* Supprime les puces par défaut */
}
ul.menu li{
    margin: 1em;
}

ul.menu{
    background-color: #ffff;
    position: absolute;
    padding-right: 150px;
    left: 0px;
    text-align: left;
    display: none;
    border-radius: 5px;
}
ul.first-ul li{
    padding: 10px;
    transform: perspective(1px) translateZ(0);
	transition: 0.4s cubic-bezier(.86, .01, .15, .99);
}
ul.first-ul li::before{
    transform: scaleX(0);
	opacity: 0;
	transform-origin: 50% 50%;
	transition: 0.4s cubic-bezier(.86, .01, .15, .99);
}
ul.first-ul li:hover{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
	transform: translateY(-5px);
}
ul.first-ul li:hover a{
    color: black;
}
ul li:hover .menu-categorie{
    display: block;
    text-align: left;
}
ul li:hover .menu-marque{
    display: block;
}
ul li:hover .menu-type{
    display: block;
}

/* ------ */
/*
.svg-bg{
    position: absolute;
    top: -1.5rem;
    right: -15rem;
    z-index: -5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-bg svg{
    height: 100%;
}
*/

.svg-bg {
    
}
.svg-bg img {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 200vw;
    z-index: -10;
}



#login {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#login {
   margin: 0;
   padding: 14px 24px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 1px #eee;
   border-radius: 5px;
   /* display: block; */
 }

 #login:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


#register {background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%)}
#register {
    margin: 0;
    padding: 14px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 1px #eee;
    border-radius: 5px;
  }

#register:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 
main{
      margin: 0 10px;
}
main section.first-page{        
        background-image: radial-gradient(circle, #fff 2px, rgba(0, 0, 0, 0) 2px);
        background-size: 100px 100px;
}
    
    /*Le nouveau */
main .btn1{
        background: transparent;
        border: solid red;
        color: white;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
}
main i{
        align-items: center;
        margin-left: .5rem;
        font-size: var(--tiny);
}


.hero-banner{
    display: flex;
    justify-content: space-around;
    height: 100vh;

}
.txt-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    
}
.txt-1 h1{
    font-size: var(--huge);
    font-weight: normal;
    text-align: right;
    background-image: linear-gradient(120deg, #fac384, white);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0;
    margin: 0;
}

.txt-1 button{
    text-align: right;
    height: 35px;

}
.txt-1 .slide-txt{
    text-align: right;
}

.slide-txt{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    min-width: 500px;
    overflow: hidden;
    text-align: right;
}
.slide-txt div{
    font-size: var(--huge);
    position: absolute;
    top: 100%;
    
}
.txt-2{
    width: 300px;
    align-self: flex-end;
    font-size: var(--small);
    line-height: 1.4;
}

/* ----- */

/*
main section.first-page .hero-banner{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
main section.first-page .hero-banner article{
    
    width: 40%;
}
main section.first-page .hero-banner article h2{
    font-size: 42px;
}
main section.first-page .hero-banner article p{
    text-align: left;
    width: 85%;
    margin-bottom: 1em;
}

main section.first-page .hero-banner article section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main section.first-page .hero-banner article section input{
    padding: 2% 5%;
}
main section.first-page .hero-banner article section p{
    width: 65%;
}
#herobanner-btn {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
#herobanner-btn {
   text-decoration: none;
   margin: 0;
   padding: 14px 24px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 1px #eee;
   border-radius: 5px;
 }

 #herobanner-btn:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

.main-accueil .hero-banner img{
    width: 100%;
    height: 75%;
    box-shadow: 0 0 5px #454343;
    border-radius: 10px;
}


*/
/* Features */
main section.first-page .features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section.first-page .features article{
    width: 29%;
}    
main section.first-page .features section{
    display: flex;
    align-items: center;
}
main section.first-page .features section img{
    margin-right: 1em;
    width: 40px;
}
main section.first-page .features article p{
    text-align: left;
}

/* Avantages */

.main-avantages article{
    display: flex; 
    justify-content: space-evenly;
    margin: 10% 0;
}
.main-avantages article section{
    width: 40%;
}

.main-avantages article img{
    /* border: solid red; */
    width: 30%;
    height: 250px;
    border-radius: 10px;
    
}
.main-avantages article section p{
    margin-top: 2em;
    text-align: left;
}
/* Avis */
/* Des chiffres */
.main-chiffres{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}
.main-chiffres article{
    /* background-color: white; */
    /* border: solid grey 1px; */
    width: 15%;
    padding: 20px;
    box-shadow: 0 0 10px #434141;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around; */
}
.main-chiffres article h3, .main-chiffres article p{
    margin: 8px 0;
    text-align: center;
}

/* Foire aux questions */

.main-faq article.question{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-faq article.question section{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border-top: solid grey 1px;
}
.main-faq h2{
    text-align: center;
    margin-bottom: 3em;
    font-size: 40px;
}
.main-faq h3{
    font-size: 24px;

}
.main-faq .question section img{
    width: 15px;
}
.main-faq .question p{
    text-align: left;
    margin-top: 2em;
    width: 70%;
}

/* Footer */
footer{
    /* border: solid red; */
    margin-top: 3em;
    padding: 3em 0;
    background-color: #212121;
    color: white;
}

footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer section article{
    display: flex;
    flex-direction: column;
 }

footer section article section{
    display: flex;
    flex-direction: column;
}

footer section article a{
    text-decoration: none;
    color: white;
    line-height: 3em;
}
footer #footer-logo{
    font-size: 42px;
    text-align: center;
}

footer #footer-help{
    /* line-height: 0; */
}
footer #footer-support{
    font-size: 20px;
    font-weight: bold;
}
footer #copyright{
    color: #8a8b85;
    margin-top: 5em;
}

.login .login-main{
    padding: 3%;
    margin: 3em 0;
    display: flex;
    justify-content: center;
}

.login .login-main article{
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0 0 10px #eee;
    display: flex;
    flex-direction: column;
}
.login .login-main article form{
    display: flex;
    flex-direction: column;
}

/* Order / Panier */
.order{
    margin: 0;
}
.order .order-main{
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}
.order .order-main section.recapitulatif{
    display: flex;
}
.order .order-main section.texte{
    margin-bottom: 5%;
}
.order .order-main article.left{
    width: 75%;
    margin-right: 1em;
}
.order .order-main article.right{
    width: 25%;
} 
.order .order-main section.recapitulatif article.box{
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px #eee;
    display: flex;
    flex-direction: column;
}

.order .order-main .recapitulatif .left .article-panier section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.order .order-main .recapitulatif .left .article-panier{
    margin: 0;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    border-bottom: solid black 1px;
    padding: 2% 0;
}

.order .order-main .recapitulatif .right article{
    display: flex;
    justify-content: space-between;
}

.order .order-main .recapitulatif .right article.total{
    margin: 1em 0;
    border-top: solid black 1px;
}
.order .order-main .recapitulatif .right article .total-text{
    font-weight: bold;
}

/* Page Explore */
.explore{
    margin: 0;
}
.explore-main{
        padding: 6% 0;
}
.explore-main .texte h3{
    text-align: center;
    margin-bottom: 5%;
}

.explore-main .produits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
}
.explore-main .produits .produit section img{
    width: 100%;
    height: 250px;
}
.explore-main .produits .produit{
    box-shadow: 0 0 5px #eee;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.explore-main .produits .produit .titre{
    text-align: left;
    margin: 0 1em 1em 1em;
}

.explore-main .produits .produit .titre article{
    display: flex;
    justify-content: space-between;
}

.explore-main .produits .produit .stars{
    display: flex;
}